<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="baseUrl" value="http://localhost:57896/" />
      <add key="Calculadora" value="api/RateApi" />
    </appSettings>
</configuration>